body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #eef2f3);
}

.container{
    display: flex;
    min-height: 100vh;
}

/* LEFT PANEL */

.left{
    width: 45%;
    padding: 30px;
    background: white;
}

.left h2{
    background-color: rgb(235, 87, 87);
    color: white;
    display: inline-block;
    padding: 8px 18px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

.right{
    width: 55%;
    padding: 40px;
    background:  antiquewhite;
}

#resume{
    text-align: center;
    color: rgb(235, 87, 87);
    font-size: 40px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgb(235, 87, 87);
    padding-bottom: 10px;
}


input,
textarea{
    width: 95%;
    padding: 12px;
    margin: 10px ;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 15px;
    background-color: #fafafa;
}


textarea{
    height: 80px;
}


button{
    padding: 10px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background: rgb(235, 87, 87);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: rgb(214, 56, 56);
    transform: scale(1.05);
}


.right h3{
    color: rgb(235, 87, 87);
    margin-top: 25px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.right p{
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}


#education,
#experience,
#skills,
#projects{
    display: none;
}

#savebtn{
    width: 100%;
    margin-top: 30px;
    background: #222;
    display: none;
}

#savebtn:hover{
    background: black;
}